# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db